.request-container{
    background:url("../../Images/request.jpg");
    height:22rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.request-btn{
    height:6rem;
    width:30rem;
    background:#D10101;
    border-radius: 10rem;
    font-size: 2.2rem;
    color:#fff;
    display:grid;
    place-items:center;
}
.request p{
    padding-top:1.5rem;
    font-size: 2rem;
    display:grid;
    place-items: center;
    color:#D10101;
    font-weight:700;
}