.request-container{
    background:url("../../Images/request.jpg");
    height:22rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding:0 1rem;
}
.request{
    max-width: 30rem;
    width:100%;
}
.request-btn{
    height:6rem;
    width:100%;
    background:#D10101;
    border-radius: 10rem;
    font-size: 2.2rem;
    color:#fff;
    text-align:center;
    display:grid;
    padding:1rem;
    place-items:center;
}
.request p{
    padding-top:1.5rem;
    font-size: 2rem;
    display:grid;
    place-items: center;
    text-align: center;
    color:#D10101;
    font-weight:700;
}
@media screen and (max-width:768px){
    .request-btn{
        font-size: 1.6rem;
    }
}