.staff-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(21.6rem, 1fr));
}
.staff{
    margin-bottom: 8rem;
}
.staff-avatar-wrapper{
    width:100%;
    display:grid;
    place-items:center;
}
.staff-avatar{
    width:21.6rem;
    height:21.6rem;
    border-radius: 50%;
    background:#fff;
    overflow:hidden;
}
.staff-avatar img{
    height:100%;
    width:100%;
}
.staff-caption{
    padding-top:1rem;
    color:#fff;
    font-weight:300;
}

.staff-caption p{
    font-size:2rem;
    display:grid;
    place-items: center;
}
.staff-caption p:first-child{
    font-style:italic;
}