.header-wrapper{
    width:100%;
    background:radial-gradient(circle at 94.35384114583333% 89.61588541666666%, #D10101 0%, 20%, rgba(209,1,1,0) 40%), radial-gradient(circle at 6.503906249999999% 88.037109375%, rgba(44,44,44,0.99) 0%, 25%, rgba(44,44,44,0) 50%), radial-gradient(circle at 6.165364583333333% 12.617187499999998%, #FF4040 0%, 42%, rgba(255,64,64,0) 70%), radial-gradient(circle at 93.6865234375% 11.42578125%, #424242 0%, 42%, rgba(66,66,66,0) 70%), radial-gradient(circle at 48.9013671875% 49.521484375%, #FFFFFF 0%, 100%, rgba(255,255,255,0) 100%);
    display:grid;
    place-items:center;
}
.header-container{
    height:150vh;
    width:100%;
    position:relative;
    max-width: 1400px;
    overflow:hidden;
}
.header-cloud2, .header-dice,.header-cloud4,
.header-cloud0,.header-cloud1,.f10{
    position:absolute;
}
.header-cloud2{
    left:-10%;
}
.header-dice{
    right:0;
    top:6rem;
    z-index:99;
}
.header-cloud4{
    right:0;
    z-index:100;
}
.header-cloud0,.header-cloud1{
    bottom:-8%;
    transform:rotate(-180deg);
}
.header-cloud0{
    z-index:100;
    left:-15%;
} 
.header-cloud1{
    right:0;
}
.f10{
    bottom:-12%;
    transform:rotate(20deg);
    z-index:99;
}
.header-content-wrapper{
    height:100%;
    width:100%;
    display:grid;
    place-items: center;
    color:#fff;
    z-index:101;
    position:absolute;
}
.header-content h1{
    font-size:6rem;
    font-weight: 900;
    display:grid;
    letter-spacing: 1px;
    word-spacing: 1.2rem;
    place-items:center;
    padding-bottom:1rem;
    text-align:center;
}
.header-content p{
    font-size:2.4rem;
    text-align:center;
    display:grid;
    place-items:center;
}