.scrollup{
    height:5rem;
    width:5rem;
    background:#fc6c50;
    display:grid;
    border-radius: 50%;
    place-items:center;
    box-shadow:0px 0px 1.8rem .6rem rgba(0, 0, 0, 0.3);
    position:fixed;
    bottom:7%;
    right:2%;
    display:none;
}
.scrollup span{
    color:white;
}
.scrollup.scrollup-show{
    display:grid;
    animation: show-effect 1s ease;
}

@keyframes show-effect{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
