.chats-wrapper{
    background:#2f2e2e;
    width:100%;
    height:40rem;
}
.chats-container{
    position:relative;
    max-width: 1600px;
    height:100%;
}
.chats-container .flower{
    position:absolute;
    top:-35%;
}
.chats-container .flower-1{
    left:-2%;
}
.chats-container .flower-2{
    left:30%
}
.chats-container .flower-3{
    left:0;
    transform:rotate(180deg);
}
.chats-container .flower-4{
    right:0%
}