.chats-wrapper{
    background:#2f2e2e;
    width:100%;
    display:grid;
    place-items:center;
    height:50rem;
}
.chats-container{
    position:relative;
    max-width: 1600px;
    width:100%;
    height:100%;
}
.chats-flower-container{
    position:relative;
    width: 1600px;
    background:lightgreen;
    height:30rem;
}