.submit-request-wrapper{
    padding-top: 15rem;
    background: radial-gradient(circle at 94.35384114583333% 89.61588541666666%, #C7C3C3 0%, 20%, rgba(199,195,195,0) 40%), radial-gradient(circle at 6.503906249999999% 88.037109375%, rgba(255,64,64,0.99) 0%, 15%, rgba(255,64,64,0) 50%), radial-gradient(circle at 6.165364583333333% 12.617187499999998%, #FFFFFF 0%, 42%, rgba(255,255,255,0) 70%), radial-gradient(circle at 93.6865234375% 11.42578125%, #FFC4B8 0%, 46.2%, rgba(255,196,184,0) 70%), radial-gradient(circle at 48.9013671875% 49.521484375%, #FFFFFF 0%, 100%, rgba(255,255,255,0) 100%);
    width:100%;
    display:grid;
    place-items:center;
    padding-bottom:8rem;
}
.submit-request-container{
    width:100%;
    max-width: 1600px;
    display:grid;
    place-items: center;
    padding:0 1rem;
}
.submit-request{
    width:100%;
    max-width: 80rem;
    background:rgba(0,0,0,0.1);
    box-shadow: 0 0 2px #fff;
    border-radius:10px;
}
.submit-request-header h1, .submit-request-header h2{
    display:grid;
    color:#4D4B4B;
    text-shadow:2px 2px 4px #fff;
    place-items:center;
}
.submit-request-header{
    padding:2rem;
}
.submit-request-header h1{
    font-size:3.8rem;
    text-align:center;
}
.submit-request-header h2{
    text-align:center;
    font-size:2.2rem;
}
.submit-request-content{
    padding:2rem;
}
.submit-request-input{
    padding-bottom:2rem;
}
.submit-request-input .small{
    height:4rem;
}
.submit-request-input .big{
    height:14rem;
}
.submit-request-input input,.submit-request-input textarea{
    width:100%;
    outline:none;
    border: 1px solid #aaa;
    border-radius: 4px;
    background:rgba(225,225,225,.4);
    padding:0 1rem;
    font-style:italic;
    font-size:1.5rem;
    color:#2e2c2c;
}
.submit-request-input input:focus,.submit-request-input textarea:focus{
    border:1px solid #8bc34a;
}

.submit-request-input textarea{
    padding:1rem 1rem;
    resize: none;
}
.submit-request-btn-wrapper{
    width:100%;
    padding:2rem;
    padding-top:0;
    display:flex;
    justify-content: right;
}
.submit-request-btn{
    width: 11rem;
    height: 3.2rem;
    display:grid;
    place-items:center;
    background:#2e2c2c;
    border-radius: 4px;
    color:#fff;
    font-size:1.6rem;
}

.submit-request-footer{
    padding-top:5rem;
    width:100%;
    color:#4D4B4B;
    max-width: 80rem;
}
.submit-request-footer-upload{
    font-size:2.4rem;
    font-weight:500;
    padding-bottom:1rem;
}
.submit-request-footer span{
    font-weight:700;
}
.submit-request-footer-contact{
    padding-bottom:1rem;
    font-size:1.6rem;
}
.submit-request-footer-email{
    font-size:1.6rem;
}
@media screen and (max-width: 666px){
    .submit-request-header h1{
        font-size:3rem;
        text-align:center;
    }
    .submit-request-header h2{
        text-align:center;
        font-size:2rem;
    }
    .submit-request-header{
        padding:2rem 1rem;
    }
    .submit-request-content{
        padding:2rem 1rem;
    }

}