.testimony-wrapper{
    background:radial-gradient(circle at 56.666666666666664% 96.66666666666667%, #FF8870 0%, 17.5%, rgba(255,136,112,0) 35%), radial-gradient(circle at 74.16666666666667% 49.166666666666664%, #FFFFFE 0%, 17.5%, rgba(255,255,254,0) 35%), radial-gradient(circle at 99.16666666666667% 51.66666666666667%, #FF4040 0%, 17.5%, rgba(255,64,64,0) 35%), radial-gradient(circle at 54.58333333333333% 67.5%, #C7C3C3 0%, 17.5%, rgba(199,195,195,0) 35%), radial-gradient(circle at 2.9166666666666665% 10.833333333333334%, #FFFFFF 0%, 17.5%, rgba(255,255,255,0) 35%), radial-gradient(circle at 0.4166666666666667% 85%, rgba(255,64,64,0.56) 0%, 17.5%, rgba(255,64,64,0) 35%), radial-gradient(circle at 96.66666666666667% 88.33333333333333%, #FFFFFF 0%, 20%, rgba(255,255,255,0) 40%), radial-gradient(circle at 35.41666666666667% 94.16666666666667%, rgba(255,255,255,0.99) 0%, 25%, rgba(255,255,255,0) 50%), radial-gradient(circle at 4.583333333333333% 51.66666666666667%, #C7C3C3 0%, 42%, rgba(199,195,195,0) 70%), radial-gradient(circle at 55.833333333333336% 20.833333333333336%, rgba(255,64,64,0.67) 0%, 42%, rgba(255,64,64,0) 70%), radial-gradient(circle at 48.9013671875% 49.521484375%, rgba(255,255,255,0.56) 0%, 100%, rgba(255,255,255,0) 100%);
    position: relative;
    width:100%;
    overflow:hidden;
    display:grid;
    place-items: center;
}
.testimony-container{
    width:100%;
    max-width:100rem;
    padding:0 1rem;
}
.testimony-cloud2,.testimony-cloud4{
    position:absolute;
    top:-15%;
}
.testimony-cloud2{
    left:0%;
}

.testimony-cloud4{
    right:0;
    z-index:100;
}

.testimony{
    padding-top: 20rem;
    display:grid;
    place-items:center;
    width:100%;
}
.testimony-section{
    height:32rem;
    width:100%;
    display:grid;
    grid-template-columns: 70% 30%;
}
.testimony-section-2{
    grid-template-columns: 30% 70%;
}

.testimony-section-content{
    height:100%;
    width:100%;
}
.testimony-section-content h1{
    font-size:3rem;
    font-style: italic;
}
.testimony-section-content p{
    font-size:2rem;
    padding-top: 1rem;
}
.testimony-section-image{
    height:100%;
    width:100%;
    position:relative;
}
.testimony-section-image .cloud5{
    position: absolute;
    left:-42%;
    bottom:-25%;
}

.testimony-section-image .cloud8{
    position:absolute;
    bottom:8%;
}
.testimony-section-image .f7{
    transform:translateY(-10rem) rotate(5deg);
}
.testimony-section-content-2{
    display:grid;
    place-items:center right;
    width:100%;
}
.testimony-section-content-wrapper-2{
    text-align:right;    
    max-width:50rem;
}
.testimony-section-2{
    border-bottom:5px solid #2f2e2e;
}
.testimony-content-wrapper{
    height:55rem;
    width:100%;
    max-width:100rem;
    padding-top:10rem;
    position:relative;
}
.testimony-content h1{
    position:absolute;
    font-weight:900;
}

.testimony-content .ess{
    top:22%;
    left:50%;
    font-size:10rem;
    transform:translate(-50%, -22%);
    color:#2f2e2e;
    text-shadow: 3px 3px 3px #fff;
    font-weight:900;

}
.testimony-content .mat{
    text-shadow: 1px 1px 3px #2C2C2C;
    font-size:8rem;
    left:4%;
    color:#fff;
}
.testimony-content .pro{
    font-size:7rem;
    bottom:0;
    right:0;
    color:#fff;
    text-shadow: 1px 1px 3px #2C2C2C;
}
.testimony-content .bio{
    text-shadow: 1px 1px 3px #fff;
    font-size:6rem;
    bottom:30%;
    right:0;
    color:#2C2C2C;
}
.testimony-content .pap{
    font-size:7rem;
    text-shadow: 1px 1px 3px #2C2C2C;
    bottom:10%;
    right:2%;
    color:#fff;
}
.testimony-content .che{
    font-size:6rem;
    text-shadow: 1px 1px 3px #2C2C2C;
    top:25%;
    right:0;
    color:#4d4b4b;
}
.testimony-content .acc{
    font-size:6rem;
    text-shadow: 1px 1px 3px #2C2C2C;
    top:37%;
    right:30%;
    color:#fff;
}
.testimony-content .eco{
    font-size:6rem;
    text-shadow: 1px 1px 3px #2C2C2C;
    top:47%;
    right:20%;
    color:#fff;
}
.testimony-content .phy{
    font-size:7rem;
    text-shadow: 1px 1px 3px #2C2C2C;
    top:45%;
    left:0;
    color:#4d4b4b;
}
.testimony-content .bioch{
    font-size:7rem;
    text-shadow: 1px 1px 3px #2C2C2C;
    top:58%;
    left:1%;
    color:#fff;
}
.testimony-content .mus{
    font-size:8rem;
    text-shadow: 1px 1px 3px #fff;
    bottom:10%;
    left:50%;
    color:#2C2C2C;
    transform:translate(-50%, -10%);
}
.testimony-content .psy{
    font-size:6rem;
    text-shadow: 1px 1px 3px #fff;
    bottom:10%;
    left:4%;
    color:#757575;
}
.testimony-content .arc{
    font-size:5rem;
    text-shadow: 1px 1px 3px #2b2d2d;
    top:30%;
    left:0;
    color:#2b2d2d;
}
.testimony-content .sta{
    font-size:8rem;
    text-shadow: 1px 1px 3px #2b2d2d;
    top:10%;
    right:2%;
    color:#C7C3C3;
}
.testimony-content .soc{
    font-size:5rem;
    text-shadow: 1px 1px 3px #2b2d2d;
    top:37%;
    left:6.5%;
    color:#C7C3C3;
}
.testimony-contact-wrapper{
    border-bottom:5px solid #2f2e2e;
    display:grid;
    place-items:center;
    width:100%;
    max-width:100rem;
    margin-bottom:5rem;
    margin-top:1rem;
}
.testimony-contact-main-wrapper{
    height:27rem;
}
.testimony-contact{
    width:100%;
    display:grid;   
    grid-template-columns: 50% 50%;
}
.testimony-contact-main{
    max-width:35rem;
    width:100%;
}
.testimony-contact-btn{
    width:100%;
    height:8rem;
    background:#D10101;
    border-radius:15rem;
    color:#fff;
    display:grid;
    font-size:2.4rem;
    place-items: center;
    box-shadow: 2px 2px 3px #2C2C2C;
}
.testimony-contact-main-wrapper{
    display:flex;
    align-items: center;
}
.testimony-trust-wrapper{
    display:grid;
    place-items:center;
    height:27rem;
    width:100%;
    max-width:100rem;
    margin-bottom:5rem;
    margin-top:1rem;
}
.testimony-trust h1{
    font-size:5rem;
    color:red;
    text-shadow: 2px 2px 4px #fff;
    text-align:center;
}

@media screen and (max-width:800px){
    .testimony-section{
        grid-template-columns: 100%;
        height:max-content;
        padding-bottom:7rem;
    }
    .testimony-section-image{
        display:grid;
        place-items:center;
    }
    .testimony-section-image .f7 {
        transform: translateY(0) rotate(5deg);
    }
    .testimony-section-2{
        grid-template-columns:100%;
    }
    .testimony-section-content-2{
        grid-row:1/2;
    }
    .testimony-section-content-wrapper-2{
        max-width:100%;
    }
    .testimony-section-content-wrapper-2{    
        max-width:100%;
    }
    .testimony-content-wrapper{
        height:100%;
        width:100%;
        max-width:100%;
    }
    .testimony-contact{
        grid-template-columns: 100%;

    }
    .testimony-contact-image-wrapper{
        grid-row: 2/3;
        display:grid;
        place-items:center;
    }
    .testimony-contact-main-wrapper{
        display:grid;
        place-items:center;
    }
    .testimony-content-wrapper{
        height:40rem;
    }
    
    .testimony-content .ess{
        font-size:4.5rem;

    }
    .testimony-content .mat{
        font-size:4rem;
    }
    .testimony-content .pro{
        font-size:3.5rem;
    }
    .testimony-content .bio{
        font-size:3rem;
    }
    .testimony-content .pap{
        font-size:3.3rem;
    }
    .testimony-content .che{
        font-size:3rem;
    }
    .testimony-content .acc{
        font-size:3rem;
    }
    .testimony-content .eco{
        font-size:2.8rem;
    }
    .testimony-content .phy{
        font-size:3.3rem;
    }
    .testimony-content .bioch{
        font-size:3rem;
    }
    .testimony-content .mus{
        font-size:4rem;
    }
    .testimony-content .psy{
        font-size:3.5rem;
    }
    .testimony-content .arc{
        font-size:3rem;
    }
    .testimony-content .sta{
        font-size:4rem;
    }
    .testimony-content .soc{
        font-size:3rem;
    }
    .testimony-contact-image-wrapper img{
        width:100%;
        height:100%;
        max-width:300px;
        max-height:227px;
    }
    .testimony-section-content-wrapper h1{
        font-size:2rem;
    }
    .testimony-contact-main{
        max-width:25rem;
        width:100%;
    }
    .testimony-contact-btn{
        height:5rem;
        font-size:2rem;
    }
    .testimony-trust-wrapper{
        height:20rem;
    }
    .testimony-trust h1{
        font-size:2.4rem;
    }
    .testimony-section-content-wrapper-12 h1{
        font-size:2rem;
    }
    .testimony-section-image .cloud5 {
        bottom: -30%;
        left: 50%;
        bottom: -30%;
        transform: translate(-50%,0%);
    }
    .testimony-section-image .cloud8{
        bottom:-24%;
    }
}

@media screen and (max-width:348px){
    .testimony-content .ess{
        font-size:2.8rem;

    }
    .testimony-content .mat{
        font-size:2rem;
    }
    .testimony-content .pro{
        font-size:2rem;
    }
    .testimony-content .bio{
        font-size:1.9rem;
    }
    .testimony-content .pap{
        font-size:2.1rem;
    }
    .testimony-content .che{
        font-size:2.2rem;
    }
    .testimony-content .acc{
        font-size:1.9rem;
    }
    .testimony-content .eco{
        font-size:2rem;
    }
    .testimony-content .phy{
        font-size:2.4rem;
    }
    .testimony-content .bioch{
        font-size:2.1rem;
    }
    .testimony-content .mus{
        font-size:1.8rem;
    }
    .testimony-content .psy{
        font-size:2.5rem;
    }
    .testimony-content .arc{
        font-size:2.4rem;
    }
    .testimony-content .sta{
        font-size:2rem;
    }
    .testimony-content .soc{
        font-size:2rem;
    }
    .testimony-contact-image-wrapper img{
        width:100%;
        height:100%;
        max-width:150px;
        max-height:100px;
    }
    .testimony-content-wrapper{
        height:25rem;
    }
    .f6{
        max-width: 200px;
        max-height:200px;
        width:100%;
        height:100%;
    }
    .f7{
        max-width: 200px;
        max-height:200px;
        width:100%;
        height:100%;
    }
    .testimony-section-image .cloud8 {
        bottom: -40%;
    }
    .testimony-section-image .cloud5 {
        bottom: -30%;
        left: 50%;
        bottom: -45%;
        transform: translate(-45%,0%);
    }
    .testimony-section-content-wrapper{
        padding-bottom:2rem;
    }
}