.frame-wrapper{
    display: grid;
    place-items: center;
}
.frame{
    position: relative;
    width:254px;
    height: 272px;
}
.frame img{
    position:absolute;
}
.frame img{
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
/* .frame img:last-child{
    border-radius:50%;
} */