.nav-wrapper{
    background:#2f2e2e;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    height:5rem;
    z-index:1000;
}
.nav-container{
    width:92%;
    max-width: 100rem;
    font-size:1.4rem;
    color:white;
    display:flex;
    align-items: center;
}
.nav-items{
    width:100%;
    max-width:35rem;
}
.nav-items ul{
    display:flex;
    list-style: none;
    justify-content: space-between;
}
.nav-items ul li:hover{
    color:#FF8870;
}