.minor-contact-us{
    height:5rem;
    width:5rem;
    background:#FF4040;
    position: fixed;
    bottom: 2%;
    right: 2%;
    transform: translate(-2%,-2%);
    border-radius: 32px;
    display: flex;
    justify-content: center;
    box-shadow:0px 0px 1.2rem .1rem rgba(0, 0, 0, 0.3);
    align-items: center;
    cursor: pointer;
    padding:0 5px;
}
.minor-contact-us:hover {
    height: 5rem;
    width: 11rem;
    justify-content: space-around;
}
.minor-contact-us:hover .minor-contact-us-text{
    display:block;
}
.minor-contact-us-chat-icon{
    color:#fff;
    font-size:2rem;
    pointer-events: none;
}
.minor-contact-us-text {
    font-weight: 500;
    color: #fff;
    font-size: 1.5rem;
    display: none;
    padding-bottom:.4rem;
    pointer-events: none;
}